<a href="https://colab.research.google.com/github/soyoonjeong/ITCareerfit/blob/main/%EA%B0%80%EC%B9%98%EA%B4%80_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount('/content/drive')
pd.options.display.float_format = '{:.0f}'.format

# 500개 기업 데이터 불러오기
data1 = pd.read_csv("/content/drive/MyDrive/CAPSTONE/크롤링/가치관/DART/DART_잡플래닛_20230502.csv", encoding='utf-8', index_col=0)
data2 = pd.read_csv("/content/drive/MyDrive/CAPSTONE/크롤링/가치관/DART/재무제표_수정 (1).csv", encoding='utf-8', thousands=',')
#data1 = pd.read_csv("/content/drive/MyDrive/크롤링/가치관/DART/DART_잡플래닛_20230429_IT_1000_2022.csv", encoding='utf-8', index_col=0)
#data2 = pd.read_csv("/content/drive/MyDrive/크롤링/가치관/DART/재무제표_수정 (1).csv", encoding='utf-8', thousands=',')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.concat([data1, data2], axis=0, ignore_index=True)
data = data[['기업', '기간', '유동자산', '비유동자산', '자산총계', '부채총계', '자본총계', '유동부채', '매출액', '영업이익', '당기순이익']]
# result.to_csv('/content/drive/MyDrive/CAPSTONE/크롤링/DART/DART_합치기_잡플래닛.csv')

In [ ]:
data.head()

,기업,기간,유동자산,비유동자산,자산총계,부채총계,자본총계,유동부채,매출액,영업이익,당기순이익
0,삼성에스디에스,2020.01.01~2020.12.31,4021621788887,2488539129798,6510160918685,803493018170,993400112119,5516760806566,4549427072244,582117407418,266592370964
1,삼성에스디에스,2021.01.01~2021.12.31,4152700905521,2698229150015,6850930055536,970445281046,1236281122384,5614648933152,4985712694305,406734299461,327598640679
2,삼성에스디에스,2022.01.01~2022.12.31,4094239955950,3534659478278,7628899434228,1067177194193,1614217739856,6014681694372,5174554117525,296153499254,530145587281
3,더존비즈온,2020.01.01~2020.12.31,124254793589,671353643425,795608437014,122342749074,403739987480,391868449534,303185154447,75309028866,53753898280
4,더존비즈온,2021.01.01~2021.12.31,207528293324,684579237884,892107531208,388699454466,401654191542,490453339666,313777222994,70088545732,52139958620

In [ ]:
len(data['기업'].unique())

132

In [ ]:
data['연도']=data['기간'].str[0:4]

In [ ]:
# final_df = pd.DataFrame()
# final_df['기업'] = list(data['기업'].unique())
# final_df['수익성'] = 0
# final_df['안정성'] = 0
# final_df['성장성'] = 0

In [ ]:
# final_df.head()

# 수익성

In [ ]:
# 매출액순이익률
data['매출액순이익률'] = (data['당기순이익'] / data['매출액']) *100

# 매출액영업이익률
data['매출액영업이익률'] = (data['영업이익'] / data['매출액']) *100

# #총자산이익률(ROA)
# data['ROA'] = (data['당기순이익'] / data['자산총계']) *100

#자본금이익률(ROE)
# average_equity = data['자본총계'].rolling(2).mean() # 평균 자기 자본
# data['ROE'] = (data['당기순이익'] / average_equity) *100
data['ROE'] = (data['당기순이익'] / data['자본총계']) *100

In [ ]:
from sklearn.preprocessing import MinMaxScaler

profit = data[['매출액순이익률','매출액영업이익률','ROE']]

# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(profit)

# 데이터 변환
mMscaled_data = mMscaler.transform(profit)

# 데이터 프레임으로 저장
mMscaled_data = pd.DataFrame(mMscaled_data, columns = ['매출액순이익률','매출액영업이익률','ROE'])
mMscaled_data = mMscaled_data * 100

In [ ]:
profit = pd.concat([data[['기업','연도']], mMscaled_data], axis = 1)
profit['점수'] = (profit['매출액순이익률']+profit['매출액영업이익률']+profit['ROE'])/3
def count_weights(row):
  if row['연도']=='2020':
    return 0.2*3
  elif row['연도']=='2021':
    return 0.3*3
  else:
    return 0.5*3

profit['weight'] = profit.apply(count_weights, axis = 1)

In [ ]:
profit.head()

        기업    연도  매출액순이익률  매출액영업이익률  ROE  점수  weight
0  삼성에스디에스  2020       61        83   76  73       1
1  삼성에스디에스  2021       61        81   76  73       1
2  삼성에스디에스  2022       62        80   76  73       2
3    더존비즈온  2020       63        88   75  75       1
4    더존비즈온  2021       63        87   75  75       1

In [ ]:
profit[profit['기업'].isin(['넥슨코리아','웹젠'])]

        기업    연도  매출액순이익률  매출액영업이익률  ROE  점수  weight
48      웹젠  2020       64        92   79  78       1
49      웹젠  2021       65        93   79  79       1
50      웹젠  2022       66        94   81  80       2
362  넥슨코리아  2020       63        90   75  76       1
363  넥슨코리아  2021      100        88   79  89       1
364  넥슨코리아  2022       63        86   74  74       2

In [ ]:
import numpy as np

grouped = profit.groupby('기업')
weighted_avg_func = lambda g:np.average(g['점수'], weights=g['weight'])
final_profit= pd.DataFrame(grouped.apply(weighted_avg_func))
final_profit.reset_index(inplace = True)
final_profit['수익성 등수'] = len(final_profit) + 1 - final_profit[0].rank()
final_profit['수익성 백분위'] = final_profit['수익성 등수']/ len(final_profit) * 100
final_profit.columns = ['기업', '수익성 점수', '수익성 등수', '수익성 백분위']

In [ ]:
final_profit.head()

         기업   수익성 점수   수익성 등수  수익성 백분위
0    KT아이에스 71.43343 87.00000 65.90909
1     SK텔레콤 72.45996 59.00000 44.69697
2       가비아 72.66423 56.00000 42.42424
3  갤럭시아머니트리 71.98167 70.00000 53.03030
4       골프존 76.09518 18.00000 13.63636

In [ ]:
final_profit.sort_values(by='수익성 백분위')

          기업   수익성 점수    수익성 등수   수익성 백분위
88      인포바인 81.07364   1.00000   0.75758
127  헥토이노베이션 79.74536   2.00000   1.51515
67       엠게임 79.64136   3.00000   2.27273
45       시큐브 79.59287   4.00000   3.03030
76        웹젠 79.50222   5.00000   3.78788
..       ...      ...       ...       ...
36       브랜디 60.18844 128.00000  96.96970
60      에이트원 52.89711 129.00000  97.72727
30     룽투코리아 48.25642 130.00000  98.48485
35       베스파 46.82051 131.00000  99.24242
27   라이프시맨틱스 38.23383 132.00000 100.00000

[132 rows x 4 columns]

In [ ]:
final_profit['profit_cut']=pd.cut(final_profit['수익성 백분위'], bins=[0, 4, 11, 23, 40, 60, 100], labels=['A', 'B','C', 'D', 'E', 'F'] )

In [ ]:
final_profit['4%'] = np.abs(final_profit['수익성 백분위']-4)
final_profit['11%'] = np.abs(final_profit['수익성 백분위']-11)
final_profit['23%'] = np.abs(final_profit['수익성 백분위']-23)
final_profit['40%'] = np.abs(final_profit['수익성 백분위']-40)
final_profit['60%'] = np.abs(final_profit['수익성 백분위']-60)

In [ ]:
pd.options.display.max_rows=None
final_profit.sort_values(by='수익성 등수')

             기업  수익성 점수  수익성 등수  수익성 백분위 profit_cut  4%  11%  23%  40%  60%
88         인포바인      81       1        1          A   3   10   22   39   59
127     헥토이노베이션      80       2        2          A   2    9   21   38   58
67          엠게임      80       3        2          A   2    9   21   38   58
45          시큐브      80       4        3          A   1    8   20   37   57
76           웹젠      80       5        4          A   0    7   19   36   56
13        넥슨코리아      79       6        5          B   1    6   18   35   55
96       커넥트웨이브      79       7        5          B   1    6   18   35   55
116        포시에스      78       8        6          B   2    5   17   34   54
125      한글과컴퓨터      78       9        7          B   3    4   16   33   53
39          사람인      78      10        8          B   4    3   15   32   52
98      케이아이엔엑스      77      11        8          B   4    3   15   32   52
10          네이버      77      12        9          B   5    2   14   31   51
51        아이퀘스트      77      13       10          B   6    1   13   30   50
55       아프리카티비      77      14       11          B   7    0   12   29   49
92        지어소프트      77      15       11          C   7    0   12   29   49
43         소프트센      77      16       12          C   8    1   11   28   48
44       수산아이앤티      76      17       13          C   9    2   10   27   47
4           골프존      76      18       14          C  10    3    9   26   46
57       액토즈소프트      76      19       14          C  10    3    9   26   46
12   네이블커뮤니케이션즈      76      20       15          C  11    4    8   25   45
77          웹케시      76      21       16          C  12    5    7   24   44
63        엔에이치엔      75      22       17          C  13    6    6   23   43
113       파이오링크      75      23       17          C  13    6    6   23   43
61       에프앤가이드      75      24       18          C  14    7    5   22   42
54           아톤      75      25       19          C  15    8    4   21   41
123      한국정보인증      75      26       20          C  16    9    3   20   40
99         케이엘넷      75      27       20          C  16    9    3   20   40
90     인피니트헬스케어      75      28       21          C  17   10    2   19   39
38        비트컴퓨터      75      29       22          C  18   11    1   18   38
93          카카오      75      30       23          C  19   12    0   17   37
103        코나아이      75      31       23          D  19   12    0   17   37
7       나이스평가정보      74      32       24          D  20   13    1   16   36
16         다우기술      74      33       25          D  21   14    2   15   35
122      한국전자인증      74      34       26          D  22   15    3   14   34
9          네오위즈      74      35       27          D  23   16    4   13   33
97          컴투스      74      36       27          D  23   16    4   13   33
20        더존비즈온      74      37       28          D  24   17    5   12   32
59        에스에스알      74      38       29          D  25   18    6   11   31
130       현대이지웰      74      39       30          D  26   19    7   10   30
6       나이스정보통신      74      40       30          D  26   19    7   10   30
47      신세계아이앤씨      74      41       31          D  27   20    8    9   29
48         싸이버원      74      42       32          D  28   21    9    8   28
68           엠로      74      43       33          D  29   22   10    7   27
56           안랩      74      44       33          D  29   22   10    7   27
128      헥토파이낸셜      73      45       34          D  30   23   11    6   26
83          유엔젤      73      46       35          D  31   24   12    5   25
69      영림원소프트랩      73      47       36          D  32   25   13    4   24
112          파수      73      48       36          D  32   25   13    4   24
114     페이스북코리아      73      49       37          D  33   26   14    3   23
121        하이브랩      73      50       38          D  34   27   15    2   22
11        네이버웹툰      73      51       39          D  35   28   16    1   21
80        위세아이텍      73      52       39          D  35   28   16    1   21
32          무신사      73      53       40          E  36   29   17    0   20
79      위메이드플레이      73      54       41          E  37   30   18    1   19
40      삼성에스디에스      73      55       42          E  38   31   19    2   18
2           가비아      73      56       42          E  38   31   19    2   18
82         유비케어      73      57       43          E  39   32   20    3   17
81        유비벨록스      73      58       44          E  40   33   21    4   16
1         SK텔레콤      72      59       45          E  41   34   22    5   15
19        대아티아이      72      60       45          E  41   34   22    5   15
15           다날      72      61       46          E  42   35   23    6   14
100     케이지이니시스      72      62       47          E  43   36   24    7   13
5         구글코리아      72      63       48          E  44   37   25    8   12
120          핑거      72      64       48          E  44   37   25    8   12
66       엘지유플러스      72      65       49          E  45   38   26    9   11
24           딜리      72      66       50          E  46   39   27   10   10
62         엑스큐어      72      67       51          E  47   40   28   11    9
107        텔코웨어      72      68       52          E  48   41   29   12    8
37         브리지텍      72      69       52          E  48   41   29   12    8
3      갤럭시아머니트리      72      70       53          E  49   42   30   13    7
17        다우데이타      72      71       54          E  50   43   31   14    6
75       우아한형제들      72      72       55          E  51   44   32   15    5
31          링네트      72      73       55          E  51   44   32   15    5
129      현대오토에버      72      74       56          E  52   45   33   16    4
72         오파스넷      72      75       57          E  53   46   34   17    3
85          이루온      72      76       58          E  54   47   35   18    2
65        엘에스산전      72      77       58          E  54   47   35   18    2
73        오픈베이스      72      78       59          E  55   48   36   19    1
91         지니뮤직      72      79       60          E  56   49   37   20    0
64          엔텔스      72      80       61          F  57   50   38   21    1
131     효성아이티엑스      72      81       61          F  57   50   38   21    1
124      한국정보통신      72      82       62          F  58   51   39   22    2
29       롯데정보통신      72      83       63          F  59   52   40   23    3
108         토비스      72      84       64          F  60   53   41   24    4
53         아이티센      72      85       64          F  60   53   41   24    4
104       콤텍시스템      72      86       65          F  61   54   42   25    5
0        KT아이에스      71      87       66          F  62   55   43   26    6
118        푸드나무      71      88       67          F  63   56   44   27    7
101      케이티씨에스      71      89       67          F  63   56   44   27    7
89         인포뱅크      71      90       68          F  64   57   45   28    8
115     포스코아이티씨      71      91       69          F  65   58   46   29    9
70        예스이십사      71      92       70          F  66   59   47   30   10
14        누리플렉스      71      93       70          F  66   59   47   30   10
102       케이티알파      71      94       71          F  67   60   48   31   11
111        팅크웨어      71      95       72          F  68   61   49   32   12
18       대신정보통신      71      96       73          F  69   62   50   33   13
22         디아이티      71      97       73          F  69   62   50   33   13
23          디지캡      71      98       74          F  70   63   51   34   14
84          이니텍      71      99       75          F  71   64   52   35   15
21      드림어스컴퍼니      71     100       76          F  72   65   53   36   16
49       쌍용정보통신      70     101       77          F  73   66   54   37   17
52       아이크래프트      70     102       77          F  73   66   54   37   17
25        라온시큐어      70     103       78          F  74   67   55   38   18
126      한솔인티큐브      70     104       79          F  75   68   56   39   19
42        세종텔레콤      70     105       80          F  76   69   57   40   20
86        이지케어텍      70     106       80          F  76   69   57   40   20
117      포인트모바일      70     107       81          F  77   70   58   41   21
87         인베니아      70     108       82          F  78   71   59   42   22
33         미디어젠      69     109       83          F  79   72   60   43   23
28         로보티즈      69     110       83          F  79   72   60   43   23
94    카카오엔터테인먼트      69     111       84          F  80   73   61   44   24
95         카페24      69     112       85          F  81   74   62   45   25
8          네오리진      69     113       86          F  82   75   63   46   26
58           앱코      68     114       86          F  82   75   63   46   26
26         라온피플      68     115       87          F  83   76   64   47   27
78         위메이드      68     116       88          F  84   77   65   48   28
119       플레이위드      68     117       89          F  85   78   66   49   29
105          쿠팡      68     118       89          F  85   78   66   49   29
41     샌드박스네트워크      66     119       90          F  86   79   67   50   30
110      티사이언티픽      66     120       91          F  87   80   68   51   31
74       와이더플래닛      66     121       92          F  88   81   69   52   32
71        오늘의 집      65     122       92          F  88   81   69   52   32
34       바이브컴퍼니      65     123       93          F  89   82   70   53   33
109       투비소프트      64     124       94          F  90   83   71   54   34
46         시티랩스      64     125       95          F  91   84   72   55   35
50          씨이랩      63     126       95          F  91   84   72   55   35
106       키네마스터      61     127       96          F  92   85   73   56   36
36          브랜디      60     128       97          F  93   86   74   57   37
60         에이트원      53     129       98          F  94   87   75   58   38
30        룽투코리아      48     130       98          F  94   87   75   58   38
35          베스파      47     131       99          F  95   88   76   59   39
27      라이프시맨틱스      38     132      100          F  96   89   77   60   40

In [ ]:
final_profit[final_profit['profit_cut']=='A']

          기업   수익성 점수  수익성 등수  수익성 백분위 profit_cut
45       시큐브 79.59287 4.00000  3.03030          A
67       엠게임 79.64136 3.00000  2.27273          A
76        웹젠 79.50222 5.00000  3.78788          A
88      인포바인 81.07364 1.00000  0.75758          A
127  헥토이노베이션 79.74536 2.00000  1.51515          A

In [ ]:
final_profit[final_profit['profit_cut']=='B']

          기업   수익성 점수   수익성 등수  수익성 백분위 profit_cut
10       네이버 76.92827 12.00000  9.09091          B
13     넥슨코리아 79.09798  6.00000  4.54545          B
39       사람인 77.73193 10.00000  7.57576          B
51     아이퀘스트 76.79203 13.00000  9.84848          B
55    아프리카티비 76.63054 14.00000 10.60606          B
96    커넥트웨이브 79.06312  7.00000  5.30303          B
98   케이아이엔엑스 77.02367 11.00000  8.33333          B
116     포시에스 78.35148  8.00000  6.06061          B
125   한글과컴퓨터 77.91556  9.00000  6.81818          B

# 안정성

In [ ]:
# 유동성비율
data['유동성비율'] = data['유동자산'] / data['유동부채'] * 100

# 당좌비율
# data['당좌비율'] = (data['유동자산']-data['재고자산'])/data['유동부채'] * 100

# 부채비율
data['부채비율'] = -data['부채총계'] / data['자본총계'] * 100

# 자기자본비율
data['자기자본비율'] = data['자본총계'] / data['자산총계'] * 100 # average_equity: 평균 자기 자본

In [ ]:
data[data['기업']=='네이버'][['기업', '연도', '유동성비율','부채비율','자기자본비율']]

      기업    연도  유동성비율  부채비율  자기자본비율
315  네이버  2020     13   -81      18
316  네이버  2021     19   -37      28
317  네이버  2022     21   -37      29

In [ ]:
from sklearn.preprocessing import MinMaxScaler

stable = data[['유동성비율','부채비율','자기자본비율']]

# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(stable)

# 데이터 변환
mMscaled_data = mMscaler.transform(stable)

# 데이터 프레임으로 저장
mMscaled_data = pd.DataFrame(mMscaled_data, columns = ['유동성비율','부채비율','자기자본비율'])
mMscaled_data = mMscaled_data * 100

In [ ]:
stable = pd.concat([data[['기업','연도']], mMscaled_data], axis = 1)
stable['점수'] = (stable['유동성비율']+stable['부채비율']+stable['자기자본비율'])/3
def count_weights(row):
  if row['연도']=='2020':
    return 0.1*3
  elif row['연도']=='2021':
    return 0.3*3
  else:
    return 0.6*3

stable['weight'] = stable.apply(count_weights, axis = 1)

In [ ]:
stable.head()

        기업    연도  유동성비율  부채비율  자기자본비율  점수  weight
0  삼성에스디에스  2020     41    97       1  46       0
1  삼성에스디에스  2021     41    97       2  46       1
2  삼성에스디에스  2022     40    97       2  47       2
3    더존비즈온  2020     37    99       6  47       0
4    더존비즈온  2021     38    96       5  46       1

In [ ]:
import numpy as np

grouped = stable.groupby('기업')
weighted_avg_func = lambda g:np.average(g['점수'], weights=g['weight'])
final_stable= pd.DataFrame(grouped.apply(weighted_avg_func))
final_stable.reset_index(inplace = True)
final_stable['안정성 등수'] = len(final_stable) + 1 - final_stable[0].rank()
final_stable['안정성 백분위'] = final_stable['안정성 등수']/ len(final_stable) * 100
final_stable.columns = ['기업', '안정성 점수', '안정성 등수', '안정성 백분위']

In [ ]:
final_stable.sort_values(by='안정성 백분위')

             기업  안정성 점수  안정성 등수  안정성 백분위
35          베스파      64       1        1
13        넥슨코리아      63       2        2
74       와이더플래닛      62       3        2
103        코나아이      58       4        3
121        하이브랩      57       5        4
39          사람인      54       6        5
72         오파스넷      54       7        5
34       바이브컴퍼니      53       8        6
3      갤럭시아머니트리      53       9        7
27      라이프시맨틱스      52      10        8
49       쌍용정보통신      52      11        8
18       대신정보통신      52      12        9
11        네이버웹툰      51      13       10
91         지니뮤직      51      14       11
128      헥토파이낸셜      51      15       11
15           다날      50      16       12
21      드림어스컴퍼니      50      17       13
87         인베니아      50      18       14
31          링네트      50      19       14
41     샌드박스네트워크      50      20       15
117      포인트모바일      50      21       16
52       아이크래프트      50      22       17
55       아프리카티비      49      23       17
119       플레이위드      49      24       18
131     효성아이티엑스      49      25       19
25        라온시큐어      49      26       20
58           앱코      49      27       20
106       키네마스터      49      28       21
115     포스코아이티씨      49      29       22
130       현대이지웰      49      30       23
26         라온피플      49      31       23
71        오늘의 집      49      32       24
17        다우데이타      49      33       25
33         미디어젠      49      34       26
50          씨이랩      49      35       27
124      한국정보통신      49      36       27
22         디아이티      49      37       28
65        엘에스산전      49      38       29
101      케이티씨에스      49      39       30
102       케이티알파      48      40       30
109       투비소프트      48      41       31
129      현대오토에버      48      42       32
112          파수      48      43       33
126      한솔인티큐브      48      44       33
111        팅크웨어      48      45       34
100     케이지이니시스      48      46       35
66       엘지유플러스      48      47       36
69      영림원소프트랩      48      48       36
113       파이오링크      48      49       37
108         토비스      48      50       38
32          무신사      48      51       39
1         SK텔레콤      48      52       39
86        이지케어텍      48      53       40
54           아톤      48      54       41
0        KT아이에스      48      55       42
28         로보티즈      48      56       42
29       롯데정보통신      48      57       43
14        누리플렉스      47      58       44
2           가비아      47      59       45
80        위세아이텍      47      60       45
16         다우기술      47      61       46
61       에프앤가이드      47      62       47
120          핑거      47      63       48
104       콤텍시스템      47      64       48
46         시티랩스      47      65       49
64          엔텔스      47      66       50
19        대아티아이      47      67       51
118        푸드나무      47      68       52
56           안랩      47      69       52
36          브랜디      47      70       53
81        유비벨록스      47      71       54
42        세종텔레콤      47      72       55
67          엠게임      47      73       55
20        더존비즈온      47      74       56
85          이루온      47      75       57
70        예스이십사      47      76       58
4           골프존      47      77       58
53         아이티센      47      78       59
37         브리지텍      47      79       60
98      케이아이엔엑스      47      80       61
68           엠로      47      81       61
60         에이트원      47      82       62
59        에스에스알      47      83       63
45          시큐브      47      84       64
40      삼성에스디에스      47      85       64
6       나이스정보통신      46      86       65
7       나이스평가정보      46      87       66
90     인피니트헬스케어      46      88       67
47      신세계아이앤씨      46      89       67
12   네이블커뮤니케이션즈      46      90       68
73        오픈베이스      46      91       69
95         카페24      46      92       70
94    카카오엔터테인먼트      46      93       70
84          이니텍      46      94       71
75       우아한형제들      46      95       72
62         엑스큐어      46      96       73
43         소프트센      46      97       73
96       커넥트웨이브      46      98       74
107        텔코웨어      46      99       75
97          컴투스      46     100       76
8          네오리진      46     101       77
83          유엔젤      46     102       77
93          카카오      46     103       78
48         싸이버원      46     104       79
89         인포뱅크      46     105       80
122      한국전자인증      46     106       80
82         유비케어      46     107       81
88         인포바인      46     108       82
79      위메이드플레이      46     109       83
76           웹젠      46     110       83
10          네이버      46     111       84
77          웹케시      46     112       85
24           딜리      46     113       86
30        룽투코리아      46     114       86
110      티사이언티픽      46     115       87
38        비트컴퓨터      46     116       88
123      한국정보인증      46     117       89
99         케이엘넷      46     118       89
23          디지캡      46     119       90
51        아이퀘스트      45     120       91
125      한글과컴퓨터      45     121       92
78         위메이드      45     122       92
9          네오위즈      45     123       93
57       액토즈소프트      45     124       94
127     헥토이노베이션      45     125       95
116        포시에스      45     126       95
44       수산아이앤티      45     127       96
63        엔에이치엔      45     128       97
92        지어소프트      44     129       98
5         구글코리아      44     130       98
114     페이스북코리아      43     131       99
105          쿠팡      18     132      100

In [ ]:
final_stable['4%'] = np.abs(final_stable['안정성 백분위']-4)
final_stable['11%'] = np.abs(final_stable['안정성 백분위']-11)
final_stable['23%'] = np.abs(final_stable['안정성 백분위']-23)
final_stable['40%'] = np.abs(final_stable['안정성 백분위']-40)
final_stable['60%'] = np.abs(final_stable['안정성 백분위']-60)

In [ ]:
final_stable.sort_values(by='안정성 등수')

             기업  안정성 점수  안정성 등수  안정성 백분위  4%  11%  23%  40%  60%
35          베스파      64       1        1   3   10   22   39   59
13        넥슨코리아      63       2        2   2    9   21   38   58
74       와이더플래닛      62       3        2   2    9   21   38   58
103        코나아이      58       4        3   1    8   20   37   57
121        하이브랩      57       5        4   0    7   19   36   56
39          사람인      54       6        5   1    6   18   35   55
72         오파스넷      54       7        5   1    6   18   35   55
34       바이브컴퍼니      53       8        6   2    5   17   34   54
3      갤럭시아머니트리      53       9        7   3    4   16   33   53
27      라이프시맨틱스      52      10        8   4    3   15   32   52
49       쌍용정보통신      52      11        8   4    3   15   32   52
18       대신정보통신      52      12        9   5    2   14   31   51
11        네이버웹툰      51      13       10   6    1   13   30   50
91         지니뮤직      51      14       11   7    0   12   29   49
128      헥토파이낸셜      51      15       11   7    0   12   29   49
15           다날      50      16       12   8    1   11   28   48
21      드림어스컴퍼니      50      17       13   9    2   10   27   47
87         인베니아      50      18       14  10    3    9   26   46
31          링네트      50      19       14  10    3    9   26   46
41     샌드박스네트워크      50      20       15  11    4    8   25   45
117      포인트모바일      50      21       16  12    5    7   24   44
52       아이크래프트      50      22       17  13    6    6   23   43
55       아프리카티비      49      23       17  13    6    6   23   43
119       플레이위드      49      24       18  14    7    5   22   42
131     효성아이티엑스      49      25       19  15    8    4   21   41
25        라온시큐어      49      26       20  16    9    3   20   40
58           앱코      49      27       20  16    9    3   20   40
106       키네마스터      49      28       21  17   10    2   19   39
115     포스코아이티씨      49      29       22  18   11    1   18   38
130       현대이지웰      49      30       23  19   12    0   17   37
26         라온피플      49      31       23  19   12    0   17   37
71        오늘의 집      49      32       24  20   13    1   16   36
17        다우데이타      49      33       25  21   14    2   15   35
33         미디어젠      49      34       26  22   15    3   14   34
50          씨이랩      49      35       27  23   16    4   13   33
124      한국정보통신      49      36       27  23   16    4   13   33
22         디아이티      49      37       28  24   17    5   12   32
65        엘에스산전      49      38       29  25   18    6   11   31
101      케이티씨에스      49      39       30  26   19    7   10   30
102       케이티알파      48      40       30  26   19    7   10   30
109       투비소프트      48      41       31  27   20    8    9   29
129      현대오토에버      48      42       32  28   21    9    8   28
112          파수      48      43       33  29   22   10    7   27
126      한솔인티큐브      48      44       33  29   22   10    7   27
111        팅크웨어      48      45       34  30   23   11    6   26
100     케이지이니시스      48      46       35  31   24   12    5   25
66       엘지유플러스      48      47       36  32   25   13    4   24
69      영림원소프트랩      48      48       36  32   25   13    4   24
113       파이오링크      48      49       37  33   26   14    3   23
108         토비스      48      50       38  34   27   15    2   22
32          무신사      48      51       39  35   28   16    1   21
1         SK텔레콤      48      52       39  35   28   16    1   21
86        이지케어텍      48      53       40  36   29   17    0   20
54           아톤      48      54       41  37   30   18    1   19
0        KT아이에스      48      55       42  38   31   19    2   18
28         로보티즈      48      56       42  38   31   19    2   18
29       롯데정보통신      48      57       43  39   32   20    3   17
14        누리플렉스      47      58       44  40   33   21    4   16
2           가비아      47      59       45  41   34   22    5   15
80        위세아이텍      47      60       45  41   34   22    5   15
16         다우기술      47      61       46  42   35   23    6   14
61       에프앤가이드      47      62       47  43   36   24    7   13
120          핑거      47      63       48  44   37   25    8   12
104       콤텍시스템      47      64       48  44   37   25    8   12
46         시티랩스      47      65       49  45   38   26    9   11
64          엔텔스      47      66       50  46   39   27   10   10
19        대아티아이      47      67       51  47   40   28   11    9
118        푸드나무      47      68       52  48   41   29   12    8
56           안랩      47      69       52  48   41   29   12    8
36          브랜디      47      70       53  49   42   30   13    7
81        유비벨록스      47      71       54  50   43   31   14    6
42        세종텔레콤      47      72       55  51   44   32   15    5
67          엠게임      47      73       55  51   44   32   15    5
20        더존비즈온      47      74       56  52   45   33   16    4
85          이루온      47      75       57  53   46   34   17    3
70        예스이십사      47      76       58  54   47   35   18    2
4           골프존      47      77       58  54   47   35   18    2
53         아이티센      47      78       59  55   48   36   19    1
37         브리지텍      47      79       60  56   49   37   20    0
98      케이아이엔엑스      47      80       61  57   50   38   21    1
68           엠로      47      81       61  57   50   38   21    1
60         에이트원      47      82       62  58   51   39   22    2
59        에스에스알      47      83       63  59   52   40   23    3
45          시큐브      47      84       64  60   53   41   24    4
40      삼성에스디에스      47      85       64  60   53   41   24    4
6       나이스정보통신      46      86       65  61   54   42   25    5
7       나이스평가정보      46      87       66  62   55   43   26    6
90     인피니트헬스케어      46      88       67  63   56   44   27    7
47      신세계아이앤씨      46      89       67  63   56   44   27    7
12   네이블커뮤니케이션즈      46      90       68  64   57   45   28    8
73        오픈베이스      46      91       69  65   58   46   29    9
95         카페24      46      92       70  66   59   47   30   10
94    카카오엔터테인먼트      46      93       70  66   59   47   30   10
84          이니텍      46      94       71  67   60   48   31   11
75       우아한형제들      46      95       72  68   61   49   32   12
62         엑스큐어      46      96       73  69   62   50   33   13
43         소프트센      46      97       73  69   62   50   33   13
96       커넥트웨이브      46      98       74  70   63   51   34   14
107        텔코웨어      46      99       75  71   64   52   35   15
97          컴투스      46     100       76  72   65   53   36   16
8          네오리진      46     101       77  73   66   54   37   17
83          유엔젤      46     102       77  73   66   54   37   17
93          카카오      46     103       78  74   67   55   38   18
48         싸이버원      46     104       79  75   68   56   39   19
89         인포뱅크      46     105       80  76   69   57   40   20
122      한국전자인증      46     106       80  76   69   57   40   20
82         유비케어      46     107       81  77   70   58   41   21
88         인포바인      46     108       82  78   71   59   42   22
79      위메이드플레이      46     109       83  79   72   60   43   23
76           웹젠      46     110       83  79   72   60   43   23
10          네이버      46     111       84  80   73   61   44   24
77          웹케시      46     112       85  81   74   62   45   25
24           딜리      46     113       86  82   75   63   46   26
30        룽투코리아      46     114       86  82   75   63   46   26
110      티사이언티픽      46     115       87  83   76   64   47   27
38        비트컴퓨터      46     116       88  84   77   65   48   28
123      한국정보인증      46     117       89  85   78   66   49   29
99         케이엘넷      46     118       89  85   78   66   49   29
23          디지캡      46     119       90  86   79   67   50   30
51        아이퀘스트      45     120       91  87   80   68   51   31
125      한글과컴퓨터      45     121       92  88   81   69   52   32
78         위메이드      45     122       92  88   81   69   52   32
9          네오위즈      45     123       93  89   82   70   53   33
57       액토즈소프트      45     124       94  90   83   71   54   34
127     헥토이노베이션      45     125       95  91   84   72   55   35
116        포시에스      45     126       95  91   84   72   55   35
44       수산아이앤티      45     127       96  92   85   73   56   36
63        엔에이치엔      45     128       97  93   86   74   57   37
92        지어소프트      44     129       98  94   87   75   58   38
5         구글코리아      44     130       98  94   87   75   58   38
114     페이스북코리아      43     131       99  95   88   76   59   39
105          쿠팡      18     132      100  96   89   77   60   40

# 성장성

In [ ]:
data2=pd.read_csv("/content/drive/MyDrive/CAPSTONE/크롤링/DART/company백업_20230510.csv", encoding='utf-8', index_col=0)
data2

FileNotFoundError: ignored

In [ ]:
import numpy as np
# 영업이익증가율
data.sort_values(by = ['기업', '연도'], inplace = True) # 기업과 연도를 기준으로 정렬
data['영업이익증가율'] = (data['영업이익'].diff() / data['영업이익'] )*100
data.loc[data['연도'] == 2020, '영업이익증가율'] = np.nan

# 매출액증가율
data.sort_values(by = ['기업', '연도'], inplace = True) # 기업과 연도를 기준으로 정렬
data['매출액증가율'] = (data['매출액'].diff() / data['매출액'])*100
data.loc[data['연도'] == 2020, '매출액증가율'] = np.nan

#순이익증가율
data.sort_values(by = ['기업', '연도'], inplace = True) # 기업과 연도를 기준으로 정렬
data['당기순이익증가율'] = (data['당기순이익'].diff() / data['당기순이익'])*100
data.loc[data['연도'] == 2020, '당기순이익증가율'] = np.nan

In [ ]:
data[data['기업']=='KT아이에스']

,기업,기간,유동자산,비유동자산,자산총계,부채총계,자본총계,유동부채,매출액,영업이익,당기순이익,연도,영업이익증가율,매출액증가율,당기순이익증가율
324,KT아이에스,2020.01.01~2020.12.31,126275205062.00000,168013679695.00000,294288884757.00000,87387458189.00000,126893637851.00000,167395246906.00000,453639144631.00000,9002862020.00000,7387478525.00000,2020,NaN,NaN,NaN
325,KT아이에스,2021.01.01~2021.12.31,124420074786.00000,244940730764.00000,369360805550.00000,103927321508.00000,177618511970.00000,191742293580.00000,468004263986.00000,14405202066.00000,24944162467.00000,2021,37.50270,3.06944,70.38394
326,KT아이에스,2022.01.01~2022.12.31,102120905227.00000,294087164063.00000,396208069290.00000,103697864970.00000,199203706481.00000,197004362809.00000,535783305933.00000,19544619038.00000,15916623698.00000,2022,26.29582,12.65046,-56.71767

In [ ]:
from sklearn.preprocessing import MinMaxScaler

new_data = data[data['연도'].isin(['2021','2022'])][['기업', '연도', '영업이익증가율','매출액증가율','당기순이익증가율']]
# grow = new_data[['영업이익증가율','매출액증가율','당기순이익증가율']]

# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(new_data[['영업이익증가율','매출액증가율','당기순이익증가율']] )

# 데이터 변환
mMscaled_data = mMscaler.transform(new_data[['영업이익증가율','매출액증가율','당기순이익증가율']] )

# 데이터 프레임으로 저장
mMscaled_data = pd.DataFrame(mMscaled_data, columns = ['영업이익증가율','매출액증가율','당기순이익증가율'])
mMscaled_data = mMscaled_data * 100

In [ ]:
grow = pd.concat([new_data[['기업','연도']], mMscaled_data], axis = 1)
grow['점수'] = (grow['영업이익증가율']+grow['매출액증가율']+grow['당기순이익증가율'])/3
def count_weights(row):
  if row['연도']=='2021':
    return 0.3*2
  else:
    return 0.7*2
grow['weight'] = grow.apply(count_weights, axis = 1)

In [ ]:
len(grow['기업'].unique())

133

In [ ]:
grow.head(10)

           기업    연도  영업이익증가율   매출액증가율  당기순이익증가율
325    KT아이에스  2021      NaN      NaN       NaN
326    KT아이에스  2022      NaN      NaN       NaN
13      SK텔레콤  2021 58.23153 88.33023  24.60830
14      SK텔레콤  2022 58.40571 88.61953  24.82390
79        가비아  2021 58.23145 88.99854  24.86986
80        가비아  2022 57.65503 88.49872  24.86371
175  갤럭시아머니트리  2021 60.39991 70.11887  35.86526
176  갤럭시아머니트리  2022 57.79895 87.50891  24.55475
55        골프존  2021 58.10488 79.27831  23.86424
56        골프존  2022 57.78500 89.29005  29.80225

In [ ]:
import numpy as np

grouped = grow.groupby('기업')
weighted_avg_func = lambda g:np.average(g['점수'], weights=g['weight'])
final_grow= pd.DataFrame(grouped.apply(weighted_avg_func))
final_grow.reset_index(inplace = True)
final_grow['성장성 등수'] = len(final_grow) + 1 - final_grow[0].rank()
final_grow['성장성 백분위'] = final_grow['성장성 등수']/ len(final_grow) * 100
final_grow.columns = ['기업', '성장성 점수', '성장성 등수', '성장성 백분위']
final_grow['성장성 점수'] = final_grow['성장성 점수']

In [ ]:
final_grow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기업       132 non-null    object
 1   성장성 점수   87 non-null     float64
 2   성장성 등수   87 non-null     float64
 3   성장성 백분위  87 non-null     float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [ ]:
grow[grow['기업']=='쿠팡']

     기업    연도  영업이익증가율  매출액증가율  당기순이익증가율  점수  weight
378  쿠팡  2021      NaN     NaN       NaN NaN 0.60000
379  쿠팡  2022      NaN     NaN       NaN NaN 1.40000

In [ ]:
grow.describe()

        영업이익증가율    매출액증가율  당기순이익증가율        점수    weight
count 263.00000 263.00000 263.00000 263.00000 263.00000
mean   58.37204  87.94978  25.33782  57.21988   0.99848
std     5.23115   6.65878   7.08403   4.09493   0.40076
min     0.00000   0.00000   0.00000  23.55656   0.60000
25%    58.15769  87.43989  24.61210  56.78765   0.60000
50%    58.41674  88.49391  24.98238  57.29794   0.60000
75%    58.82504  89.81884  25.44587  58.03111   1.40000
max   100.00000 100.00000 100.00000  85.62192   1.40000

In [ ]:
final_grow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기업       132 non-null    object
 1   성장성 점수   132 non-null    float64
 2   성장성 등수   132 non-null    float64
 3   성장성 백분위  132 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [ ]:
final_grow[final_grow['기업']=='삼성에스디에스']

         기업   성장성 점수    성장성 등수  성장성 백분위
40  삼성에스디에스 57.07568 100.00000 75.75758

In [ ]:
final_grow.head()

         기업   성장성 점수    성장성 등수  성장성 백분위
0    KT아이에스      NaN       NaN      NaN
1     SK텔레콤 57.21514  94.00000 71.21212
2       가비아 57.11406  98.00000 74.24242
3  갤럭시아머니트리 56.27301 123.00000 93.18182
4       골프존 57.39611  86.00000 65.15152

In [ ]:
final_grow.describe()

         성장성 점수    성장성 등수   성장성 백분위
count 132.00000 132.00000 132.00000
mean   57.13014  66.50000  50.37879
std     3.39531  38.24918  28.97665
min    32.87841   1.00000   0.75758
25%    56.74356  33.75000  25.56818
50%    57.25122  66.50000  50.37879
75%    57.76722  99.25000  75.18939
max    71.04666 132.00000 100.00000

In [ ]:
final_grow.sort_values(by='성장성 백분위')

           기업   성장성 점수    성장성 등수   성장성 백분위
64        엔텔스 71.04666   1.00000   0.75758
49     쌍용정보통신 66.37854   2.00000   1.51515
105        쿠팡 65.06683   3.00000   2.27273
90   인피니트헬스케어 63.97133   4.00000   3.03030
32        무신사 62.63259   5.00000   3.78788
..        ...      ...       ...       ...
83        유엔젤 52.38002 128.00000  96.96970
84        이니텍 51.71712 129.00000  97.72727
119     플레이위드 50.75215 130.00000  98.48485
89       인포뱅크 40.97629 131.00000  99.24242
35        베스파 32.87841 132.00000 100.00000

[132 rows x 4 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

new_data = data[data['연도'].isin(['2021','2022'])][['기업', '연도', '영업이익증가율','매출액증가율','당기순이익증가율']]
grow = new_data[['영업이익증가율','매출액증가율','당기순이익증가율']]

# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(grow[['영업이익증가율','매출액증가율','당기순이익증가율']])

# 데이터 변환
mMscaled_data = mMscaler.transform(grow[['영업이익증가율','매출액증가율','당기순이익증가율']])

# 데이터 프레임으로 저장
grow[['영업이익증가율','매출액증가율','당기순이익증가율']] = mMscaled_data * 100
# mMscaled_data = pd.DataFrame(mMscaled_data, columns = ['영업이익증가율','매출액증가율','당기순이익증가율'])
# mMscaled_data = mMscaled_data * 100

# 규모 형태

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/크롤링/기업목록/잡플래닛 기업데이터_20230506.csv")
df = df[['cp_name', 'cp_type', 'emp_num']]
df.head()

FileNotFoundError: ignored

In [ ]:
def count_cp_type_score(row):
  if row['cp_type'] == '대기업':
    return 100
  elif row['cp_type'] == '중견기업':
    return 75
  elif row['cp_type'] == '중소기업':
    return 25
  else:
    return 50

df['cp_type_score'] = df.apply(count_cp_type_score, axis= 1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

df['emp_num'].fillna(np.mean(df['emp_num']), inplace = True)
# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(df[['emp_num']])

# 데이터 변환
mMscaled_data = mMscaler.transform(df[['emp_num']])

# 데이터 프레임으로 저장
df[['emp_num']] = mMscaled_data * 100

In [ ]:
df['scale_score'] = (df['cp_type_score'] + df['emp_num'])/2
df['scale_rank'] = len(df) + 1 - df['scale_score'].rank()
df['scale_per'] = round(100 - df['scale_rank']/ len(df) * 100,2)

In [ ]:
df.head()

,cp_name,cp_type,emp_num,cp_type_score,scale_score,scale_rank,scale_per
0,삼성에스디에스,대기업,100.00000,100,100.00000,1.00000,99.24000
1,더존비즈온,대기업,12.04529,100,56.02265,11.00000,91.67000
2,롯데정보통신,대기업,6.82118,100,53.41059,13.00000,90.15000
3,카페24,중견기업,9.81290,75,42.40645,36.00000,72.73000
4,SK텔레콤,대기업,42.48775,100,71.24388,7.00000,94.70000

In [ ]:
data = []
for idx in range(len(df)):
  row = df.iloc[idx]
  data.append((row['scale_per'],row['cp_name']))

# 연봉

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/CAPSTONE/크롤링/기업목록/잡플래닛 기업데이터_20230506.csv")

In [ ]:
from sklearn.preprocessing import MinMaxScaler

df = df[['cp_name','pay']]

# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(df[['pay']])

# 데이터 변환
mMscaled_data = mMscaler.transform(df[['pay']])

# 데이터 프레임으로 저장
df[['pay_score']] = mMscaled_data * 100
df['pay_rank'] = len(df) + 1 - df['pay_score'].rank()
df['pay_per'] = round(df['pay_rank']/ len(df) * 100,2)

<ipython-input-39-321ed1d2ccab>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['pay_score']] = mMscaled_data * 100
<ipython-input-39-321ed1d2ccab>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pay_rank'] = len(df) + 1 - df['pay_score'].rank()

In [ ]:
df.sort_values(by='pay_rank')

        cp_name   pay  pay_score  pay_rank  pay_per  4%  11%  23%  40%  60%
127     페이스북코리아  8688        100         1        1   3   10   22   39   59
128       구글코리아  7008         71         2        2   2    9   21   38   58
110     나이스평가정보  6927         69         3        2   2    9   21   38   58
4         SK텔레콤  6652         65         4        3   1    8   20   37   57
94      나이스정보통신  5964         53         5        4   0    7   19   36   56
105         네이버  5908         52         6        5   1    6   18   35   55
0       삼성에스디에스  5906         52         7        5   1    6   18   35   55
118         카카오  5467         44         8        6   2    5   17   34   54
8        현대오토에버  5457         44         9        7   3    4   16   33   53
109       엘에스산전  5236         40        10        8   4    3   15   32   52
120       네이버웹툰  5199         39        11        8   4    3   15   32   52
123      우아한형제들  5148         39        12        9   5    2   14   31   51
121       넥슨코리아  5135         38        13       10   6    1   13   30   50
29        비트컴퓨터  5044         37        14       11   7    0   12   29   49
125         무신사  5025         36        15       11   7    0   12   29   49
130        지니뮤직  5014         36        16       12   8    1   11   28   48
112     신세계아이앤씨  4957         35        17       13   9    2   10   27   47
7         엔에이치엔  4889         34        18       14  10    3    9   26   46
119   카카오엔터테인먼트  4883         34        19       14  10    3    9   26   46
104      엘지유플러스  4849         33        20       15  11    4    8   25   45
50       한국정보통신  4839         33        21       16  12    5    7   24   44
2        롯데정보통신  4771         32        22       17  13    6    6   23   43
85       헥토파이낸셜  4724         31        23       17  13    6    6   23   43
6         케이티알파  4691         31        24       18  14    7    5   22   42
116     포스코아이씨티  4685         31        25       19  15    8    4   21   41
18          골프존  4680         30        26       20  16    9    3   20   40
93       한국전자인증  4676         30        27       20  16    9    3   20   40
122      버킷플레이스  4671         30        28       21  17   10    2   19   39
9          다우기술  4652         30        29       22  18   11    1   18   38
17       한글과컴퓨터  4633         30        30       23  19   12    0   17   37
77      헥토이노베이션  4582         29        31       23  19   12    0   17   37
45        라온시큐어  4562         28        32       24  20   13    1   16   36
68   네이블커뮤니케이션즈  4559         28        33       25  21   14    2   15   35
100       키네마스터  4557         28        34       26  22   15    3   14   34
52         라온피플  4552         28        35       27  23   16    4   13   33
15         위메이드  4464         27        36       27  23   16    4   13   33
95       한국정보인증  4407         26        37       28  24   17    5   12   32
126          쿠팡  4406         26        38       29  25   18    6   11   31
26          가비아  4404         26        39       30  26   19    7   10   30
5            안랩  4380         25        40       30  26   19    7   10   30
11          컴투스  4377         25        41       31  27   20    8    9   29
34       한솔인티큐브  4351         25        42       32  28   21    9    8   28
80        다우데이타  4333         24        43       33  29   22   10    7   27
99       수산아이앤티  4320         24        44       33  29   22   10    7   27
51         브리지텍  4318         24        45       34  30   23   11    6   26
3          카페24  4312         24        46       35  31   24   12    5   25
40          엔텔스  4310         24        47       36  32   25   13    4   24
12         네오위즈  4309         24        48       36  32   25   13    4   24
21           파수  4289         24        49       37  33   26   14    3   23
67      위메이드플레이  4272         23        50       38  34   27   15    2   22
47          토비스  4250         23        51       39  35   28   16    1   21
82          베스파  4246         23        52       39  35   28   16    1   21
115       예스이십사  4241         23        53       40  36   29   17    0   20
113      아프리카티비  4238         23        54       41  37   30   18    1   19
14         코나아이  4231         23        55       42  38   31   19    2   18
20         인베니아  4223         23        56       42  38   31   19    2   18
73         텔코웨어  4197         22        57       43  39   32   20    3   17
48           엠로  4188         22        58       44  40   33   21    4   16
36       바이브컴퍼니  4188         22        58       44  40   33   21    4   16
69      케이아이엔엑스  4183         22        60       45  41   34   22    5   15
61        세종텔레콤  4177         22        61       46  42   35   23    6   14
117         사람인  4162         22        62       47  43   36   24    7   13
24        이지케어텍  4135         21        63       48  44   37   25    8   12
54          링네트  4128         21        64       48  44   37   25    8   12
78        에스에스알  4123         21        65       49  45   38   26    9   11
89       와이더플래닛  4109         21        66       50  46   39   27   10   10
90           아톤  4074         20        67       51  47   40   28   11    9
25       쌍용정보통신  4069         20        68       52  48   41   29   12    8
19      드림어스컴퍼니  4062         20        69       52  48   41   29   12    8
38      영림원소프트랩  4025         19        70       53  49   42   30   13    7
31          웹케시  4012         19        71       54  50   43   31   14    6
97         엑스큐어  4002         19        72       55  51   44   32   15    5
98          디지캡  3998         19        74       56  52   45   33   16    4
41          유엔젤  3998         19        74       56  52   45   33   16    4
23           다날  3987         18        75       57  53   46   34   17    3
1         더존비즈온  3986         18        76       58  54   47   35   18    2
86       에프앤가이드  3978         18        77       58  54   47   35   18    2
114     케이지이니시스  3970         18        78       59  55   48   36   19    1
63         아이티센  3969         18        79       60  56   49   37   20    0
58     갤럭시아머니트리  3945         18        80       61  57   50   38   21    1
71        대아티아이  3931         17        81       61  57   50   38   21    1
28        콤텍시스템  3929         17        82       62  58   51   39   22    2
87         디아이티  3923         17        83       63  59   52   40   23    3
42     인피니트헬스케어  3911         17        84       64  60   53   41   24    4
83      라이프시맨틱스  3884         17        85       64  60   53   41   24    4
37       대신정보통신  3878         17        86       65  61   54   42   25    5
81       아이크래프트  3871         16        87       66  62   55   43   26    6
30         유비케어  3870         16        88       67  63   56   44   27    7
44        투비소프트  3860         16        89       67  63   56   44   27    7
32          이니텍  3858         16        90       68  64   57   45   28    8
10         팅크웨어  3847         16        91       69  65   58   46   29    9
131    샌드박스네트워크  3840         16        92       70  66   59   47   30   10
39         인포뱅크  3836         16        93       70  66   59   47   30   10
33        유비벨록스  3820         16        94       71  67   60   48   31   11
92         네오리진  3812         15        95       72  68   61   49   32   12
74       액토즈소프트  3788         15        96       73  69   62   50   33   13
43        파이오링크  3785         15        97       73  69   62   50   33   13
76         포시에스  3770         15        98       74  70   63   51   34   14
64        누리플렉스  3761         15        99       75  71   64   52   35   15
60           핑거  3721         14       100       76  72   65   53   36   16
103        로보티즈  3678         13       101       77  73   66   54   37   17
57        오픈베이스  3666         13       102       77  73   66   54   37   17
91        플레이위드  3636         12       103       78  74   67   55   38   18
13        현대이지웰  3629         12       104       79  75   68   56   39   19
84         케이엘넷  3621         12       105       80  76   69   57   40   20
46         미디어젠  3615         12       106       80  76   69   57   40   20
16           웹젠  3577         11       107       81  77   70   58   41   21
70         인포바인  3552         11       108       82  78   71   59   42   22
111      커넥트웨이브  3530         11       109       83  79   72   60   43   23
53           딜리  3525         10       110       83  79   72   60   43   23
124         브랜디  3513         10       111       84  80   73   61   44   24
27        지어소프트  3509         10       112       85  81   74   62   45   25
66         오파스넷  3494         10       113       86  82   75   63   46   26
56        위세아이텍  3472         10       114       86  82   75   63   46   26
75       포인트모바일  3448          9       115       87  83   76   64   47   27
35         싸이버원  3436          9       116       88  84   77   65   48   28
79        아이퀘스트  3400          8       117       89  85   78   66   49   29
49          이루온  3386          8       118       89  85   78   66   49   29
72         시티랩스  3373          8       119       90  86   79   67   50   30
101        소프트센  3348          7       120       91  87   80   68   51   31
88          씨이랩  3337          7       121       92  88   81   69   52   32
65           앱코  3289          6       122       92  88   81   69   52   32
108      KT아이에스  3249          6       123       93  89   82   70   53   33
129        하이브랩  3235          5       124       94  90   83   71   54   34
107     효성아이티엑스  3207          5       125       95  91   84   72   55   35
96       티사이언티픽  3178          4       126       95  91   84   72   55   35
102       룽투코리아  3175          4       127       96  92   85   73   56   36
59          시큐브  3122          3       128       97  93   86   74   57   37
62          엠게임  3046          2       129       98  94   87   75   58   38
22         푸드나무  3012          2       130       98  94   87   75   58   38
55         에이트원  3007          1       131       99  95   88   76   59   39
106      케이티씨에스  2922          0       132      100  96   89   77   60   40

In [ ]:
df['4%'] = np.abs(df['pay_per']-4)
df['11%'] = np.abs(df['pay_per']-11)
df['23%'] = np.abs(df['pay_per']-23)
df['40%'] = np.abs(df['pay_per']-40)
df['60%'] = np.abs(df['pay_per']-60)

In [ ]:
df

        cp_name   pay  pay_score  pay_rank  pay_per  4%  11%  23%  40%  60%
0       삼성에스디에스  5906         52         7        5   1    6   18   35   55
1         더존비즈온  3986         18        76       58  54   47   35   18    2
2        롯데정보통신  4771         32        22       17  13    6    6   23   43
3          카페24  4312         24        46       35  31   24   12    5   25
4         SK텔레콤  6652         65         4        3   1    8   20   37   57
5            안랩  4380         25        40       30  26   19    7   10   30
6         케이티알파  4691         31        24       18  14    7    5   22   42
7         엔에이치엔  4889         34        18       14  10    3    9   26   46
8        현대오토에버  5457         44         9        7   3    4   16   33   53
9          다우기술  4652         30        29       22  18   11    1   18   38
10         팅크웨어  3847         16        91       69  65   58   46   29    9
11          컴투스  4377         25        41       31  27   20    8    9   29
12         네오위즈  4309         24        48       36  32   25   13    4   24
13        현대이지웰  3629         12       104       79  75   68   56   39   19
14         코나아이  4231         23        55       42  38   31   19    2   18
15         위메이드  4464         27        36       27  23   16    4   13   33
16           웹젠  3577         11       107       81  77   70   58   41   21
17       한글과컴퓨터  4633         30        30       23  19   12    0   17   37
18          골프존  4680         30        26       20  16    9    3   20   40
19      드림어스컴퍼니  4062         20        69       52  48   41   29   12    8
20         인베니아  4223         23        56       42  38   31   19    2   18
21           파수  4289         24        49       37  33   26   14    3   23
22         푸드나무  3012          2       130       98  94   87   75   58   38
23           다날  3987         18        75       57  53   46   34   17    3
24        이지케어텍  4135         21        63       48  44   37   25    8   12
25       쌍용정보통신  4069         20        68       52  48   41   29   12    8
26          가비아  4404         26        39       30  26   19    7   10   30
27        지어소프트  3509         10       112       85  81   74   62   45   25
28        콤텍시스템  3929         17        82       62  58   51   39   22    2
29        비트컴퓨터  5044         37        14       11   7    0   12   29   49
30         유비케어  3870         16        88       67  63   56   44   27    7
31          웹케시  4012         19        71       54  50   43   31   14    6
32          이니텍  3858         16        90       68  64   57   45   28    8
33        유비벨록스  3820         16        94       71  67   60   48   31   11
34       한솔인티큐브  4351         25        42       32  28   21    9    8   28
35         싸이버원  3436          9       116       88  84   77   65   48   28
36       바이브컴퍼니  4188         22        58       44  40   33   21    4   16
37       대신정보통신  3878         17        86       65  61   54   42   25    5
38      영림원소프트랩  4025         19        70       53  49   42   30   13    7
39         인포뱅크  3836         16        93       70  66   59   47   30   10
40          엔텔스  4310         24        47       36  32   25   13    4   24
41          유엔젤  3998         19        74       56  52   45   33   16    4
42     인피니트헬스케어  3911         17        84       64  60   53   41   24    4
43        파이오링크  3785         15        97       73  69   62   50   33   13
44        투비소프트  3860         16        89       67  63   56   44   27    7
45        라온시큐어  4562         28        32       24  20   13    1   16   36
46         미디어젠  3615         12       106       80  76   69   57   40   20
47          토비스  4250         23        51       39  35   28   16    1   21
48           엠로  4188         22        58       44  40   33   21    4   16
49          이루온  3386          8       118       89  85   78   66   49   29
50       한국정보통신  4839         33        21       16  12    5    7   24   44
51         브리지텍  4318         24        45       34  30   23   11    6   26
52         라온피플  4552         28        35       27  23   16    4   13   33
53           딜리  3525         10       110       83  79   72   60   43   23
54          링네트  4128         21        64       48  44   37   25    8   12
55         에이트원  3007          1       131       99  95   88   76   59   39
56        위세아이텍  3472         10       114       86  82   75   63   46   26
57        오픈베이스  3666         13       102       77  73   66   54   37   17
58     갤럭시아머니트리  3945         18        80       61  57   50   38   21    1
59          시큐브  3122          3       128       97  93   86   74   57   37
60           핑거  3721         14       100       76  72   65   53   36   16
61        세종텔레콤  4177         22        61       46  42   35   23    6   14
62          엠게임  3046          2       129       98  94   87   75   58   38
63         아이티센  3969         18        79       60  56   49   37   20    0
64        누리플렉스  3761         15        99       75  71   64   52   35   15
65           앱코  3289          6       122       92  88   81   69   52   32
66         오파스넷  3494         10       113       86  82   75   63   46   26
67      위메이드플레이  4272         23        50       38  34   27   15    2   22
68   네이블커뮤니케이션즈  4559         28        33       25  21   14    2   15   35
69      케이아이엔엑스  4183         22        60       45  41   34   22    5   15
70         인포바인  3552         11       108       82  78   71   59   42   22
71        대아티아이  3931         17        81       61  57   50   38   21    1
72         시티랩스  3373          8       119       90  86   79   67   50   30
73         텔코웨어  4197         22        57       43  39   32   20    3   17
74       액토즈소프트  3788         15        96       73  69   62   50   33   13
75       포인트모바일  3448          9       115       87  83   76   64   47   27
76         포시에스  3770         15        98       74  70   63   51   34   14
77      헥토이노베이션  4582         29        31       23  19   12    0   17   37
78        에스에스알  4123         21        65       49  45   38   26    9   11
79        아이퀘스트  3400          8       117       89  85   78   66   49   29
80        다우데이타  4333         24        43       33  29   22   10    7   27
81       아이크래프트  3871         16        87       66  62   55   43   26    6
82          베스파  4246         23        52       39  35   28   16    1   21
83      라이프시맨틱스  3884         17        85       64  60   53   41   24    4
84         케이엘넷  3621         12       105       80  76   69   57   40   20
85       헥토파이낸셜  4724         31        23       17  13    6    6   23   43
86       에프앤가이드  3978         18        77       58  54   47   35   18    2
87         디아이티  3923         17        83       63  59   52   40   23    3
88          씨이랩  3337          7       121       92  88   81   69   52   32
89       와이더플래닛  4109         21        66       50  46   39   27   10   10
90           아톤  4074         20        67       51  47   40   28   11    9
91        플레이위드  3636         12       103       78  74   67   55   38   18
92         네오리진  3812         15        95       72  68   61   49   32   12
93       한국전자인증  4676         30        27       20  16    9    3   20   40
94      나이스정보통신  5964         53         5        4   0    7   19   36   56
95       한국정보인증  4407         26        37       28  24   17    5   12   32
96       티사이언티픽  3178          4       126       95  91   84   72   55   35
97         엑스큐어  4002         19        72       55  51   44   32   15    5
98          디지캡  3998         19        74       56  52   45   33   16    4
99       수산아이앤티  4320         24        44       33  29   22   10    7   27
100       키네마스터  4557         28        34       26  22   15    3   14   34
101        소프트센  3348          7       120       91  87   80   68   51   31
102       룽투코리아  3175          4       127       96  92   85   73   56   36
103        로보티즈  3678         13       101       77  73   66   54   37   17
104      엘지유플러스  4849         33        20       15  11    4    8   25   45
105         네이버  5908         52         6        5   1    6   18   35   55
106      케이티씨에스  2922          0       132      100  96   89   77   60   40
107     효성아이티엑스  3207          5       125       95  91   84   72   55   35
108      KT아이에스  3249          6       123       93  89   82   70   53   33
109       엘에스산전  5236         40        10        8   4    3   15   32   52
110     나이스평가정보  6927         69         3        2   2    9   21   38   58
111      커넥트웨이브  3530         11       109       83  79   72   60   43   23
112     신세계아이앤씨  4957         35        17       13   9    2   10   27   47
113      아프리카티비  4238         23        54       41  37   30   18    1   19
114     케이지이니시스  3970         18        78       59  55   48   36   19    1
115       예스이십사  4241         23        53       40  36   29   17    0   20
116     포스코아이씨티  4685         31        25       19  15    8    4   21   41
117         사람인  4162         22        62       47  43   36   24    7   13
118         카카오  5467         44         8        6   2    5   17   34   54
119   카카오엔터테인먼트  4883         34        19       14  10    3    9   26   46
120       네이버웹툰  5199         39        11        8   4    3   15   32   52
121       넥슨코리아  5135         38        13       10   6    1   13   30   50
122      버킷플레이스  4671         30        28       21  17   10    2   19   39
123      우아한형제들  5148         39        12        9   5    2   14   31   51
124         브랜디  3513         10       111       84  80   73   61   44   24
125         무신사  5025         36        15       11   7    0   12   29   49
126          쿠팡  4406         26        38       29  25   18    6   11   31
127     페이스북코리아  8688        100         1        1   3   10   22   39   59
128       구글코리아  7008         71         2        2   2    9   21   38   58
129        하이브랩  3235          5       124       94  90   83   71   54   34
130        지니뮤직  5014         36        16       12   8    1   11   28   48
131    샌드박스네트워크  3840         16        92       70  66   59   47   30   10

In [ ]:
df

             기업  수익성 점수  수익성 등수  수익성 백분위 profit_cut  4%  11%  23%  40%  60%
0        KT아이에스      71      87       66          F  62   55   43   26    6
1         SK텔레콤      72      59       45          E  41   34   22    5   15
2           가비아      73      56       42          E  38   31   19    2   18
3      갤럭시아머니트리      72      70       53          E  49   42   30   13    7
4           골프존      76      18       14          C  10    3    9   26   46
5         구글코리아      72      63       48          E  44   37   25    8   12
6       나이스정보통신      74      40       30          D  26   19    7   10   30
7       나이스평가정보      74      32       24          D  20   13    1   16   36
8          네오리진      69     113       86          F  82   75   63   46   26
9          네오위즈      74      35       27          D  23   16    4   13   33
10          네이버      77      12        9          B   5    2   14   31   51
11        네이버웹툰      73      51       39          D  35   28   16    1   21
12   네이블커뮤니케이션즈      76      20       15          C  11    4    8   25   45
13        넥슨코리아      79       6        5          B   1    6   18   35   55
14        누리플렉스      71      93       70          F  66   59   47   30   10
15           다날      72      61       46          E  42   35   23    6   14
16         다우기술      74      33       25          D  21   14    2   15   35
17        다우데이타      72      71       54          E  50   43   31   14    6
18       대신정보통신      71      96       73          F  69   62   50   33   13
19        대아티아이      72      60       45          E  41   34   22    5   15
20        더존비즈온      74      37       28          D  24   17    5   12   32
21      드림어스컴퍼니      71     100       76          F  72   65   53   36   16
22         디아이티      71      97       73          F  69   62   50   33   13
23          디지캡      71      98       74          F  70   63   51   34   14
24           딜리      72      66       50          E  46   39   27   10   10
25        라온시큐어      70     103       78          F  74   67   55   38   18
26         라온피플      68     115       87          F  83   76   64   47   27
27      라이프시맨틱스      38     132      100          F  96   89   77   60   40
28         로보티즈      69     110       83          F  79   72   60   43   23
29       롯데정보통신      72      83       63          F  59   52   40   23    3
30        룽투코리아      48     130       98          F  94   87   75   58   38
31          링네트      72      73       55          E  51   44   32   15    5
32          무신사      73      53       40          E  36   29   17    0   20
33         미디어젠      69     109       83          F  79   72   60   43   23
34       바이브컴퍼니      65     123       93          F  89   82   70   53   33
35          베스파      47     131       99          F  95   88   76   59   39
36          브랜디      60     128       97          F  93   86   74   57   37
37         브리지텍      72      69       52          E  48   41   29   12    8
38        비트컴퓨터      75      29       22          C  18   11    1   18   38
39          사람인      78      10        8          B   4    3   15   32   52
40      삼성에스디에스      73      55       42          E  38   31   19    2   18
41     샌드박스네트워크      66     119       90          F  86   79   67   50   30
42        세종텔레콤      70     105       80          F  76   69   57   40   20
43         소프트센      77      16       12          C   8    1   11   28   48
44       수산아이앤티      76      17       13          C   9    2   10   27   47
45          시큐브      80       4        3          A   1    8   20   37   57
46         시티랩스      64     125       95          F  91   84   72   55   35
47      신세계아이앤씨      74      41       31          D  27   20    8    9   29
48         싸이버원      74      42       32          D  28   21    9    8   28
49       쌍용정보통신      70     101       77          F  73   66   54   37   17
50          씨이랩      63     126       95          F  91   84   72   55   35
51        아이퀘스트      77      13       10          B   6    1   13   30   50
52       아이크래프트      70     102       77          F  73   66   54   37   17
53         아이티센      72      85       64          F  60   53   41   24    4
54           아톤      75      25       19          C  15    8    4   21   41
55       아프리카티비      77      14       11          B   7    0   12   29   49
56           안랩      74      44       33          D  29   22   10    7   27
57       액토즈소프트      76      19       14          C  10    3    9   26   46
58           앱코      68     114       86          F  82   75   63   46   26
59        에스에스알      74      38       29          D  25   18    6   11   31
60         에이트원      53     129       98          F  94   87   75   58   38
61       에프앤가이드      75      24       18          C  14    7    5   22   42
62         엑스큐어      72      67       51          E  47   40   28   11    9
63        엔에이치엔      75      22       17          C  13    6    6   23   43
64          엔텔스      72      80       61          F  57   50   38   21    1
65        엘에스산전      72      77       58          E  54   47   35   18    2
66       엘지유플러스      72      65       49          E  45   38   26    9   11
67          엠게임      80       3        2          A   2    9   21   38   58
68           엠로      74      43       33          D  29   22   10    7   27
69      영림원소프트랩      73      47       36          D  32   25   13    4   24
70        예스이십사      71      92       70          F  66   59   47   30   10
71        오늘의 집      65     122       92          F  88   81   69   52   32
72         오파스넷      72      75       57          E  53   46   34   17    3
73        오픈베이스      72      78       59          E  55   48   36   19    1
74       와이더플래닛      66     121       92          F  88   81   69   52   32
75       우아한형제들      72      72       55          E  51   44   32   15    5
76           웹젠      80       5        4          A   0    7   19   36   56
77          웹케시      76      21       16          C  12    5    7   24   44
78         위메이드      68     116       88          F  84   77   65   48   28
79      위메이드플레이      73      54       41          E  37   30   18    1   19
80        위세아이텍      73      52       39          D  35   28   16    1   21
81        유비벨록스      73      58       44          E  40   33   21    4   16
82         유비케어      73      57       43          E  39   32   20    3   17
83          유엔젤      73      46       35          D  31   24   12    5   25
84          이니텍      71      99       75          F  71   64   52   35   15
85          이루온      72      76       58          E  54   47   35   18    2
86        이지케어텍      70     106       80          F  76   69   57   40   20
87         인베니아      70     108       82          F  78   71   59   42   22
88         인포바인      81       1        1          A   3   10   22   39   59
89         인포뱅크      71      90       68          F  64   57   45   28    8
90     인피니트헬스케어      75      28       21          C  17   10    2   19   39
91         지니뮤직      72      79       60          E  56   49   37   20    0
92        지어소프트      77      15       11          C   7    0   12   29   49
93          카카오      75      30       23          C  19   12    0   17   37
94    카카오엔터테인먼트      69     111       84          F  80   73   61   44   24
95         카페24      69     112       85          F  81   74   62   45   25
96       커넥트웨이브      79       7        5          B   1    6   18   35   55
97          컴투스      74      36       27          D  23   16    4   13   33
98      케이아이엔엑스      77      11        8          B   4    3   15   32   52
99         케이엘넷      75      27       20          C  16    9    3   20   40
100     케이지이니시스      72      62       47          E  43   36   24    7   13
101      케이티씨에스      71      89       67          F  63   56   44   27    7
102       케이티알파      71      94       71          F  67   60   48   31   11
103        코나아이      75      31       23          D  19   12    0   17   37
104       콤텍시스템      72      86       65          F  61   54   42   25    5
105          쿠팡      68     118       89          F  85   78   66   49   29
106       키네마스터      61     127       96          F  92   85   73   56   36
107        텔코웨어      72      68       52          E  48   41   29   12    8
108         토비스      72      84       64          F  60   53   41   24    4
109       투비소프트      64     124       94          F  90   83   71   54   34
110      티사이언티픽      66     120       91          F  87   80   68   51   31
111        팅크웨어      71      95       72          F  68   61   49   32   12
112          파수      73      48       36          D  32   25   13    4   24
113       파이오링크      75      23       17          C  13    6    6   23   43
114     페이스북코리아      73      49       37          D  33   26   14    3   23
115     포스코아이티씨      71      91       69          F  65   58   46   29    9
116        포시에스      78       8        6          B   2    5   17   34   54
117      포인트모바일      70     107       81          F  77   70   58   41   21
118        푸드나무      71      88       67          F  63   56   44   27    7
119       플레이위드      68     117       89          F  85   78   66   49   29
120          핑거      72      64       48          E  44   37   25    8   12
121        하이브랩      73      50       38          D  34   27   15    2   22
122      한국전자인증      74      34       26          D  22   15    3   14   34
123      한국정보인증      75      26       20          C  16    9    3   20   40
124      한국정보통신      72      82       62          F  58   51   39   22    2
125      한글과컴퓨터      78       9        7          B   3    4   16   33   53
126      한솔인티큐브      70     104       79          F  75   68   56   39   19
127     헥토이노베이션      80       2        2          A   2    9   21   38   58
128      헥토파이낸셜      73      45       34          D  30   23   11    6   26
129      현대오토에버      72      74       56          E  52   45   33   16    4
130       현대이지웰      74      39       30          D  26   19    7   10   30
131     효성아이티엑스      72      81       61          F  57   50   38   21    1

In [ ]:
df.head()

   cp_name   pay  pay_score  pay_rank  pay_per
0  삼성에스디에스  5906         52         7       95
1    더존비즈온  3986         18        76       42
2   롯데정보통신  4771         32        22       83
3     카페24  4312         24        46       65
4    SK텔레콤  6652         65         4       97

In [ ]:
data = []
for idx in range(len(df)):
  row = df.iloc[idx]
  data.append((row['pay_per'],row['cp_name']))

# DB 넣기

In [ ]:
final_df = pd.merge(final_profit, final_stable, how='inner', on=None)
final_df = pd.merge(final_df, final_grow, how = 'inner', on=None)
final_df = final_df[['기업','수익성 백분위','안정성 백분위','성장성 백분위']]
final_df.rename(columns = {'기업':'cp_name',
                 '수익성 백분위':'profit',
                 '안정성 백분위':'stable',
                 '성장성 백분위':'grow'}, inplace = True)
final_df.head()

    cp_name   profit   stable     grow
0    KT아이에스 65.90909 41.66667 50.75758
1     SK텔레콤 44.69697 39.39394 66.66667
2       가비아 42.42424 44.69697 53.03030
3  갤럭시아머니트리 53.03030  6.81818  6.81818
4       골프존 13.63636 58.33333 15.90909

In [ ]:
for indi in ['profit','stable','grow']:
  final_df[indi] = 100-final_df[indi] # 수익성, 안정성, 성장성만
  final_df[indi] = round(final_df[indi],2)

In [ ]:
data = []
for idx in range(len(final_df)):
  row = final_df.iloc[idx]
  data.append((row['profit'],row['stable'],row['grow'],row['cp_name']))

In [ ]:
final_df.head()

In [ ]:
!pip install pymysql

In [ ]:
import numpy as np
import pymysql
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
host = 'itcareerfit.cc5um8ekupdb.ap-northeast-2.rds.amazonaws.com'
port = 3306
user_name = 'admin'
password = 'teamone!'
db = 'itcareerfit'

conn = pymysql.connect(host = 'itcareerfit.cc5um8ekupdb.ap-northeast-2.rds.amazonaws.com',
                        port = 3306,
                        user = 'admin',
                        password = 'teamone!',
                        db = 'itcareerfit')
cursor = conn.cursor()

#query = "UPDATE company SET profit = %s, stable = %s, grow = %s WHERE cp_name = %s"
query = "UPDATE company SET pay = %s WHERE cp_name = %s"
cursor.executemany(query, data)
conn.commit()
cursor.close()
conn.close()